header {
  background-color: #f6f4d2;
}

.book-image {
    padding: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }

.mybooks-container {
  padding-top: 150px;
  
}

.mybooks-title {
  font-family: 'Trirong', serif;
  color: #fa824c;
}

h4 {
  font-size: 28px !important;
  font-weight: 600 !important;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none !important;
}

.btn-edit {
  background-color: #416165 !important;
  color:#f6f4d2 !important;
  line-height: 1;
}

.btn-edit:hover {
  background-color: #5c8e92;
  transition: background-color .1s ease-in-out;
  -moz-transition: background-color .1s ease-out;
  -webkit-transition: background-color .1s ease-out;
  -o-transition: background-color .1s ease-out;
}

.for-sale-container {
  align-items: center;
}

.for-sale { 
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  font-size: 20px;
  background-color: #f6f4d2;
  color:#fa824c;
}

.condition {
  font-size: 14px;
}

.latestbook {
  max-height: 200px;
}

.latestbook:hover {
  cursor: default;
}

.price-tag {
  color: #fa824c;
  font-weight: 600;
  font-size: 24px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.row-item {
  border-bottom: 1px solid #aaaaaaa4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
}

.price-total {
  color: #fa824c;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  justify-content: end;
}

.checkout-row {
  max-width: 600px;
  padding: 0;
}

.btn-add {
  background-color: #fa824c !important;
  color:#f6f4d2 !important;
  width: 100%;
  display: inline-block;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fa824c;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#fa824c, 15%);
    transition: all .3s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
} 