header {
    background-color: #f6f4d2;
  }
  
  .mybooks-container {
    padding-top: 150px;
    min-height: 400px;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #416165;
    background-color: inherit;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
  }

  h3 {
    color: #fa824c;
    background-color: inherit;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  h4 {
    font-family: 'Trirong', serif;
    color: #fa824c;
    font-size: 28px;
    font-weight: 600;
  }
  
  h5 {
    font-family: 'Trirong', serif;
    color: #fa824c;
    font-size: 22px;
    font-weight: 400;
  }
  
  a {
    text-decoration: none;
    color: #795454;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
  
  
  @media only screen and (max-width: 576px) {
    .mybooks-container {
      padding-top: 80px;
      min-height: 200px;
    }
  }

  .book-image {
    padding-top: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

.lastbooks {
  margin-right: 30px;
  max-width: 300px;
}

.latestbook {
  margin-right: 30px;
}

.see-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}