header {
    background-color: #f6f4d2;
  }
  
  .mybooks-container {
    padding-top: 150px;
    min-height: 800px;
  }
  
  h4 {
    font-family: 'Trirong', serif;
    color: #fa824c;
    font-size: 28px;
    font-weight: 600;
  }
  
  h5 {
    font-family: 'Trirong', serif;
    color: #fa824c;
    font-size: 22px;
    font-weight: 400;
  }
  
  a {
    text-decoration: none;
    color: #795454;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
  
  
  @media only screen and (max-width: 320px) {
    .mybooks-container {
      padding-top: 80px;
      min-height: 300px;
    }
  }

  .book-image {
    padding-top: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
  }