.intro-section {
    width: 100%;
    min-height: 800px;
    background-size: cover;
    position: relative;
    font-family: 'Trirong', serif;
    color: #795454;
  }

  .link {
    text-decoration: none;
    color: #795454;
  }
  
  .link:hover {
    text-decoration: none;
    color: #fa824c;
  }

  .slogan-text {
    padding-top: 300px;
  }

  .slogan-text > h1 {
    text-shadow: 1px 1px 0 #7a7a7a94;
    font-weight: 600;
    font-size: 50px;
  }

  .slogan-text > p {
    text-shadow: 1px 1px 0 #7a7a7a67;
    font-weight: 300;
    font-size: 28px;
  }

@media only screen and (max-width: 576px) {
  .slogan-text {
    padding-top: 100px;
  }
  .slogan-text > h1 {
    font-size: 40px;
  }

  .slogan-text > p {
    font-size: 18px;
  }
  .intro-section {
    min-height: 400px;
  }
}